<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>默认样式</title>
    <style>
        .box1{

            width: 100px;
            height: 100px;
            border: 1px solid black;
            /* 
                默认样式: 
                    通常情况下,浏览器都会为元素设置一些默认样式
                    默认样式的存在会影响到页面的布局
                        通常情况西安必须要去除浏览器的默认样式
             */
        }

    </style>
</head>
<body>
    <div class="box1"></div>
    <p>woshiyigeduanluo</p>
    <p>woshiyigeduanluo</p>
    <p>woshiyigeduanluo</p>
    <p>woshiyigeduanluo</p>
    <p>woshiyigeduanluo</p>
    <p>woshiyigeduanluo</p>

        <ul>
            <li>liebiaoxiang</li>
            <li>liebiaoxiang</li>
            <li>liebiaoxiang</li>
        </ul>
</body>
</html>